
@{
    ViewBag.Title = "Forgot Password";
    Layout = "~/Views/Shared/_SecurityLayout.cshtml";
}

<div class="login-container">
    <div class="login-box animated fadeInDown">
        <div>
            <img alt="cabynetLogoFull"
                 style="margin-bottom: 5px; width: 100%"
                 src="~/ViewElements/assets/images/fedPolyWide.png" />
        </div>
        <div class="login-body">
            <div class="login-title"><strong>Request</strong> your forgoten password</div>
            <form action="#" class="form-horizontal" method="post">
                <div class="form-group">
                    <div class="col-md-12">
                        <input type="text" class="form-control" placeholder="E-mail" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6 pull-left">
                        <a href="@Url.Action("Index", "Security", new{area=""})" class="btn btn-link btn-block">Log In?</a>
                    </div>
                    <div class="col-md-6">
                        <button class="btn btn-info btn-block" type="button" onclick="logIn()">Log In</button>
                    </div>
                </div>
                <div class="form-group">
                    <div class="pull-left">
                        &copy; @DateTime.Now.Year Cabynet Pro
                    </div>
                </div>
            </form>
        </div>
        <div class="login-footer">
            <img alt="cabynetLogoFull" style="margin-top: 5px; width: 40%" src="~/ViewElements/img/cabynetLogoFull.png" />
        </div>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
        function logIn() {
            window.notyDisplay('', 'Just a moment... Checking the Records', 'success');

            $.ajax({
                    type: "GET",
                url: "/Security/LogInProcess?username=" + $('#username').val() + "&password=" + $('#password').val(),
                    async: true
                })
                .success(function(data) {
                    if (data.Status === true) {
                        window.notyDisplay('', data.Message, 'success');
                        window.location = '@Url.Action("Index", "MyCabynet", new {area = ""})';
                    } else {
                        window.notyDisplay('', data.Message, 'warning');
                    }
                })
                .error(function(data) {
                    window.notyEx();
                });
        };
    </script>
}